<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 25px">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>Create New User</h3>
                </div>
                <div class="card-text">
                    <form method="POST"
                          action="#"
                          th:action="@{/users}"
                          th:object="${dto}">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="name">Name</label>
                            <div class="col-sm-7">
                                <input class="col-form-label form-control" th:filed="*{name}" name="name">
                                <p th:if="${#fields.hasErrors('name')}">Invalid Name</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="password">Password</label>
                            <div class="col-sm-7">
                                <input class="col-form-label form-control" type="password" th:filed="*{password}" name="password">
                                <p th:if="${#fields.hasErrors('role')}">Invalid Password</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="role">Role</label>
                            <div class="col-sm-7">
                                <input class="col-form-label form-control" th:filed="*{role}" name="role">
                                <p th:if="${#fields.hasErrors('password')}">Invalid Role</p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 25px">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>Users</h3>
                </div>
                <div class="card-text">
                    <table class="table">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Password</th>
                            <th>Created At</th>
                        </tr>
                        <tbody>
                        <tr th:each="user: ${users}">
                            <td>
                                <span th:text="${user.id}" class="text-primary"></span>
                            </td>
                            <td>
                                <span th:text="${user.name}" class="text-primary"></span>
                            </td>
                            <td>
                                <span th:text="${user.role}" class="text-primary"></span>
                            </td>
                            <td>
                                <span th:text="${user.password}" class="text-primary"></span>
                            </td>
                            <td>
                                <span th:text="${user.createdAt}" class="text-primary"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${param.error} != null" class="row" style="margin-top: 25px">
        <div class="alert alert-danger" role="alert">
            <span th:text="${param.error}"></span>
        </div>
    </div>
</div>
</body>
</html>
